[Unit]
Description=Permit manager easily iptables rule

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fwControl
ExecStop=/usr/local/bin/fwControl -az
RemainAfterExit=yes


[Install]
WantedBy=network.target
